option_settings:
  aws:elasticbeanstalk:application:environment:
    rds.hostname: awseb-e-ams93t7ze4-stack-awsebrdsdatabase-7kmku409bdfn.cm2fjd28lh2i.us-east-1.rds.amazonaws.com
    rds.port: 3306
    rds.dbname: biwan
    rds.username: root
    rds.password: rootroot
    TWILIO_ACCOUNT_SID: ACa2dfbad94a3ec34249d2e4cd85e883e2
    TWILIO_AUTH_TOKEN: a4d3e748e58927876f0918d40928ed7c
    VAADIN_CE_DATA_DIR: /var/app/current/collaborate