.Formulario {
    margin-top: auto;
    margin-bottom: auto;
    max-height: 401px;
    max-width: 640px;
    align-self: center;
}

.Botones {
    max-width: 28%;
}

.BotonGuardar {
    background-color: #27AE60;
}

.BotonAtras {
    color: #27AE60;
}

.vlTitulo {
    max-height: 50px;
}

.tituloColor {
    color: black;
}

flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}