flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}

.Titulo {
    margin-top: 50px !important;
    margin-left: 0px !important;
}

h5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: black;
    font-weight: normal !important;
}

.layoutTextoAvisoLegal {
    margin-bottom: 50px;
}