flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}

.TituloCrearTarjeta {
    margin-top: 20px !important;
    margin-bottom: 0;
}

.layoutPrincipalCrearTarjeta {
    padding-left: 100px;
    padding-right: 100px;
    width: fit-content !important;
}

.Campo {
    width: 300px;
}

.FechaCaducidad {
    width: 150px;
    margin-right: 50px;
}

.CVV {
    width: 80px;
}

.CrearTarjetaSubmit {
    width: 300px;
    background-color: #27AE60;
    margin: 20px;
}