.footer {
    background-color: #27AE60;
    height: 100px;
    padding: 20px;
}

.AnchorAvisoLegal , .AnchorTarifas, .AnchorCookies, .AnchorInformesLegales, .AnchorTablonAnuncios, .AnchorNegocioResponsable {
    align-self: center !important;
    color: black;
    text-decoration: none !important;
    border: 3px solid  transparent;
    border-radius: 50px;
    text-align: center;
}

.AnchorAvisoLegal:hover, .AnchorTarifas:hover, .AnchorCookies:hover, .AnchorInformesLegales:hover, .AnchorTablonAnuncios:hover, .AnchorNegocioResponsable:hover {
    background: #1f8a4c 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}