.header_footer {
    background-color: #27AE60;
    height: 90px;
    padding: 20px;
}

.PaginaPrincipalIcon {
    position: relative;
    bottom: 5px;
}

.iconHazteCliente, .AnchorMainPage, .AnchorMoreInfo, .AnchorAcceso, .AnchorHazteCliente, .AnchorMenuItem {
    align-self: center !important;
    color: black;
    text-decoration: none !important;
    border: 3px solid  transparent;
    border-radius: 50px;
}

.AnchorHazteCliente {
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    align-items: end;
    border-top: 10px;
}

.AnchorAcceso {
    background: black;
    color: #27AE60;
    font-size: large;
    height: 50px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.AnchorMenuItem {
    background: transparent;
    font-size: large;
}

.AnchorMainPage:hover, .AnchorMoreInfo:hover, .AnchorAcceso:hover, .AnchorHazteCliente:hover {
    background: #1f8a4c 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}