.main {
    padding: 0;
}

.TituloLogin {
    margin: auto;
}

vaadin-vertical-layout {
    padding: 0;
}

vaadin-horizontal-layout {
    padding: initial;
}

vaadin-login-form {
    alignment: center;
}

vaadin-button[part='vaadin-login-submit'] {
    background-color: #27AE60;
    color: white;
}

.HeaderSpacing {
    gap: 30px;
}

flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}