.BotonesHazteCliente{
    background: #27AE60;
    border: 2px solid black;
    color: black;
    font-size: large;
    height: 50px;
    width: 120px;
    display: flex;
    text-decoration: none !important;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.BotonesInfo {
    color: #27AE60;
    line-height: 3.3;
}

.TituloTextoAnuncio1{
    color: black;
}

.TextoAnuncio1{
    color: black;
    margin-top: -15px;
}

.TituloTextoAnuncio2{
    color: black;
}

.TextoAnuncio2{
    color: black;
    margin-top: -15px;
}

.hlAnuncioPrincipal{
    margin-top: 20px;
}

.hlAnuncio1{
    margin-top: 30px;
    max-width: 80%;
}

.hlAnuncio2{
    margin-top: 50px;
    max-width: 80%;
    align-self: center;
}

.hlAnuncio3{
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 80%;
    align-self: center;
}

flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}