.BotonesHazteCliente{
    background-image: linear-gradient(to right, #38cc83, #25a468, #176538);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    border: none;
    color: white;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    height: 50px;
    width: 150px;
    display: flex;
    text-decoration: none !important;
    justify-content: center;
    align-items: center;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.BotonesHazteCliente:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.BotonesInfo {
    color: #27AE60;
    line-height: 3.3;
}

.TituloTextoAnuncio1{
    color: black;
}

.TxtAnuncio1{
    color: black;
    margin-top: -15px;
}

.TituloTextoAnuncio2{
    color: black;
}

.TxtAnuncio2{
    color: black;
    margin-top: -15px;
}

.TituloTextoAnuncio3{
    color: black;
}

.TextoAnuncio3{
    color: black;
    margin-top: -15px;
}

.hlAnuncioPrincipal{
    margin-top: 20px;
}

.hlAnuncio1{
    margin-top: 30px;
    max-width: 80%;
    align-self: center;
}

.hlAnuncio2{
    margin-top: 50px;
    max-width: 80%;
    align-self: center;
}

.hlAnuncio3{
    margin-top: 80px;
    margin-bottom: 80px;
    max-width: 80%;
    align-self: center;
}

flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}