flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}

.Titulo {
    margin-top: 50px !important;
    margin-left: 0px !important;
}

.texto {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: black;
    font-weight: normal !important;
}

.tab {
    padding-left: 30px;
}

.layoutTextoNegocioResponsable {
    margin-bottom: 50px;
}