.vlNoticiasOfertas {
    overflow-y: scroll;
    background: #D1FFD6;
    border: 3px solid black !important;
    padding: 20px;
    min-width: 720px;
    min-height: 550px;
    max-height: 550px;
}

.TituloWelcome {
    color: black;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Textos {
    color: black;
    margin: auto;
}

.FechaFinOferta {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.AñadirNoticiaOfertaButtons {
    background: #27AE60;
    color: white;
    font-size: large;
    font-weight: 500;
    border: 3px solid black !important;
    padding: 10px;
    min-width: 100px;
    max-height: 30px;
    text-align-all: center;
    text-align: center;
    text-decoration: none !important;
}

.EditarButtons {
    background: #39751D;
    color: white;
    font-size: large;
    margin: auto;
    font-weight: 500;
    border: 3px solid black !important;
    padding: 10px;
    min-width: 50px;
    text-align-all: center;
    text-align: center;
    text-decoration: none !important;
}
.EliminarButtons {
    background: red;
    color: white;
    font-size: large;
    margin: auto;
    font-weight: 500;
    border: 3px solid black !important;
    padding: 10px;
    min-width: 65px;
    text-align-all: center;
    text-align: center;
    text-decoration: none !important;
}

.hlNoticiasOfertas {
    max-width: 98%;
    margin-bottom: auto;
    margin-top: auto;
    align-self: center;
}

.vlPaginaPrincipal {
    align-content: center;
}

flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}