.vlTablonAnuncios {
    overflow-y: scroll;
    background: #D1FFD6;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    min-height: 500px;
    max-height: 500px;
}

.BotonesOperaciones, .BotonesBalance, .BotonCuentasTarjetas {
    background-image: linear-gradient(to right, #38cc83, #25a468, #176538);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    border: none;
    color: white;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    display: flex;
    text-decoration: none !important;
    justify-content: center;
    align-items: center;
    background-size: 300% 100%;
    margin-top: 0px;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.BotonesOperaciones:hover, .BotonesBalance:hover, .BotonCuentasTarjetas:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.BotonesOperaciones {
    min-width: 270px;
    max-height: 30px;
}

.BotonesBalance {
    text-align: center;
    position: center;
}

.BotonCuentasTarjetas {
    min-width: 298px;
    max-height: 30px;
}

.hlPaginaPrincipal {
    max-width: 97%;
    margin-bottom: auto;
    margin-top: auto;
    align-self: center;
}

.hlBalanceOperaciones {
    align-self: center;
}

.Balance {
    background: linear-gradient(to right, #9bcc38, #7daa25, #5a7f17);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    border: none;
    color: white;
    font-size: 3vw;
    font-weight: 500;
    width: 315px;
    height: 100px;
    display: flex;
    text-decoration: none !important;
    justify-content: center;
    align-items: center;
    background-size: 300% 100%;

    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.TablonAnuncios {
    margin-top: 15px;
}

.Titulos {
    color: black;
}

.TituloPrincipal {
    color: black;
    margin-bottom: 0px;
    margin-top: 20px;
}

flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}

.BotonesInfo {
    color: #27AE60;
    line-height: 3.3;
}

.TituloTextoAnuncio {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.TextoAnuncio{
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

