flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}

.layoutVerGestor {
    padding-left: 50px;
    padding-right: 50px;
    width: 90%;
}

.layoutGestionCliente {
    background: #D1FFD6;
    border: 1px solid grey;
    padding: 15px;
    width: 80%;
    min-width: fit-content;
    align-self: center;
}

.Titulo {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 0;
    color: black;
}

.NombreClienteAnchor {
    color: black;
    font-size: large;
    font-weight: bold;
    text-decoration: none !important;
    align-self: center;
    flex-grow: unset !important;
    padding: 0;
    text-align: center;
    min-width: 300px;
}

.BotonGestor {
    align-self: center;
    background-image: linear-gradient(to right, #38cc83, #25a468, #176538);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    border: none;
    color: white;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none !important;
    justify-content: center;
    align-items: center;
    background-size: 300% 100%;
    width: 100%;
    min-height: 50px;
    position: relative;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.BotonGestor:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}