.vlNoticiasOfertas {
    overflow-y: scroll;
    background: #D1FFD6;
    border: 3px solid black !important;
    padding: 20px;
    min-height: 500px;
    max-height: 500px;
}

.Titulo {
    color: black;
    margin-left: 20px;
}

.Textos {
    color: black;
    margin: auto;
}

.AñadirNoticiaOfertaButtons {
    background: #27AE60;
    color: white;
    font-size: large;
    font-weight: 500;
    border: 3px solid black !important;
    padding: 10px;
    min-width: 100px;
    max-height: 30px;
    text-align-all: center;
    text-align: center;
    text-decoration: none !important;
}

.EditarButtons {
    background: #39751D;
    color: white;
    font-size: large;
    margin: auto;
    font-weight: 500;
    border: 3px solid black !important;
    padding: 10px;
    min-width: 50px;
    text-align-all: center;
    text-align: center;
    text-decoration: none !important;
}
.EliminarButtons {
    background: red;
    color: white;
    font-size: large;
    margin: auto;
    font-weight: 500;
    border: 3px solid black !important;
    padding: 10px;
    min-width: 65px;
    text-align-all: center;
    text-align: center;
    text-decoration: none !important;
}

.hlNoticiasOfertas {
    max-width: 97%;
    margin-bottom: auto;
    margin-top: auto;
    align-self: center;
}

flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}