.ButtonSubmitRegistration {
    background-color: #27AE60;
    color: white;
    margin-top: 20px;
}

.CrearCuenta {
    margin-top: 0;
    margin-bottom: 10px;
}

.formRegister {
    height: 480px !important;
}

vaadin-form-layout {
    height: 480px !important;
    display: flex;
}

::part(reveal-button) {
    color: #27AE60;
}

flow-container-root-2521314 {
    display: grid;
    height: 100%;
    width: 100%;
}