.ButtonSubmitResetPassword {
    background-color: #27AE60;
    color: white;
    margin-top: 20px;
    width: 50% !important;
}

.RestablecerContraseña {
    margin: 0;
}

::part(reveal-button) {
    color: #27AE60;
}

.PasswordField {
    width: 75% !important;
}

div#layout {
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-items: baseline !important;
}

.Descripcion {
    font-size: small;
    font-weight: lighter;
    margin: 0;
}

.InfoLayout {
    background: #D1FFD6;
    padding: 10px 30px 15px 15px;
    width: fit-content !important;
    display: inline;
}

.CheckIcon {
    color: #4BB543;
}

.InfoIcon {
    color: black;
}

.Bold {
    font-weight: bold;
}

.TituloPasswordRulesLayout {
    padding-bottom: 5px;
}