.BotonesTransferenciaTraspaso {
    background: #39751D;
    color: white;
}

.EnviarButtonOtraCuenta {
    background: #27AE60;
    color: white;
    position: relative;
    left: 20px;
    width: 150px !important;
}

.EnviarButtonMisCuentas {
    background: #27AE60;
    color: white;
    width: 150px !important;
}