.main {
    padding: 0;
}

.header_footer {
    background-color: #27AE60;
    height: 90px;
    padding: 20px;
}
.tittleBiwan {
    font-size: 1.2cm;
    text-align: center;
    height: auto;
    width: auto;
    margin: 0;
    color: black;
    text-decoration: none !important;
}

vaadin-text-field[aria-label='searchField']{
    padding: 0;
    background: white;
    border: 3px solid black !important;
}

/*vaadin-text-field.vaadin-icon {
    color: firebrick;
}*/

vaadin-button#text {
    all: unset;
    color: black;
}

vaadin-button[aria-label='searchButton']{
    background: #27AE60;
    height: 42px;
    width: 60px;
    border: 3px solid black !important;
    border-radius: 0;
    position: relative;
    right: 0.35cm;
}

/*vaadin-icon {
    color: white;
}*/

vaadin-button.tittleBiwan::after {
    transition: none;
}

.Anchor {
    color: black;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none !important;
    align-items: end;
}

.AnchorFooter1 {
    color: black;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none !important;
    align-items: end;
    width: 80px;
    height: 15px;
}
.AnchorFooter2 {
    color: black;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none !important;
    align-items: end;
    width: 120px;
    height: 15px;
}

.AnchorFooter3 {
    color: black;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none !important;
    align-items: end;
    width: 160px;
    height: 15px;
}

#text[class='AnchorHazteCliente'][aria-label='HazteCliente']{
    height: 42px;
}

.AnchorHazteCliente {
    color: black;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none !important;
    align-items: end;
    border-top: 10px;
}

.AnchorAcceso {
    background: black;
    color: #27AE60;
    font-size: large;
    height: 50px;
    width: 110px;
    display: flex;
    text-decoration: none !important;
    justify-content: center;
    align-items: center;
}

vaadin-menu-bar-button{
    all: unset !important;
    padding: 0 !important;
}

div::part(container) {
    font-size: x-large;
}

::part(overlay) {
    background: #D1FFD6;
    margin-top: 22px;
    border: 3px solid black;
    position: relative;
    left: 20px;
}

::part(items) {
    width: 260px;
}

::part(menu-bar-button) {
    padding: 0;
    margin-top: 10px;
}

span::part(label) {
    color: #27AE60;
}

/*.Anchor[label-aria='HazteCliente'] {
    border: 1px solid black !important;
}*/

/*Quitar efecto de un botón
vaadin-button.CuentasTarjetasButton::after {
    transition: none;
}*/

/*::after {
    transition: none;
}*/

 /*Color de "¿Has olvidado tu contraseña?"
[part='vaadin-login-native-form'] [id='label-vaadin-text-field-0']{
    width: 100%;
    color: #27AE60;
}*/

/*Color del botón "mostrar/ocultar contraseña"
vaadin-password-field-button {
    color: #27AE60 !important;
}*/

vaadin-vertical-layout {
    padding: 0;
}

vaadin-horizontal-layout {
    padding: initial;
}

vaadin-login-form {
    alignment: center;
}

/*Botón de Iniciar Sesión*/
vaadin-button[part='vaadin-login-submit'] {
    background-color: #27AE60;
    color: white;
}

.HeaderSpacing {
    gap: 30px;
}
